<div class="dashboard-container">
    <div class="receipt-container">
        <h3>Đơn xuất hàng</h3>
        <form id="exportForm" (ngSubmit)="submit(exportForm)" #exportForm="ngForm">
            <div class="form-item" [ngClass]="{'invalid-field': fromWarehouseModel.invalid && (fromWarehouseModel.touched || fromWarehouseModel.dirty)}">
                <label for="warehouse">Xuất từ kho: <span class="required">*</span></label>
                <ng-select 
                    [items]="filteredFromWarehouse" 
                    bindLabel="address" 
                    [(ngModel)]="fromWarehouse"
                    (ngModelChange)="onFromWarehouseChange($event)"
                    name="fromWarehouseModel" 
                    #fromWarehouseModel="ngModel"
                    required>
                </ng-select>
            
                <!-- Kiểm tra tính hợp lệ -->
                <div *ngIf="fromWarehouseModel.invalid && (fromWarehouseModel.touched || fromWarehouseModel.dirty)" class="error">
                  <small *ngIf="fromWarehouseModel.errors?.['required']">Trường "Xuất từ kho" là bắt buộc.</small>
                </div>
              </div>
            
              <!-- Trường "Xuất đến kho" -->
              <div class="form-item" [ngClass]="{'invalid-field': toWarehouseModel.invalid && (toWarehouseModel.touched || toWarehouseModel.dirty)}">
                <label for="warehouse">Xuất đến kho: <span class="required">*</span></label>
                <ng-select 
                    [items]="filteredToWarehouse" 
                    bindLabel="address" 
                    [(ngModel)]="toWarehouse"
                    (ngModelChange)="onToWarehouseChange($event)"
                    name="toWarehouseModel" 
                    #toWarehouseModel="ngModel"
                    required>
                </ng-select>
            
                <!-- Kiểm tra tính hợp lệ -->
                <div *ngIf="toWarehouseModel.invalid && (toWarehouseModel.touched || toWarehouseModel.dirty)" class="error">
                  <small *ngIf="toWarehouseModel.errors?.['required']">Trường "Xuất đến kho" là bắt buộc.</small>
                </div>
              </div>
            
              <!-- Trường "Ngày thực hiện" -->
              <div class="form-item" [ngClass]="{'invalid-field': transferDate.invalid && (transferDate.touched || transferDate.dirty)}">
                <label for="exportDate">Ngày thực hiện: <span class="required">*</span></label>
                <input matInput 
                       [matDatepicker]="transferPicker" 
                       [(ngModel)]="transferDateValue" 
                       id="transferDate"
                       name="transferDate"
                       #transferDate="ngModel"
                       required
                       placeholder="Chọn ngày bắt đầu">
                <mat-datepicker-toggle matSuffix [for]="transferPicker"></mat-datepicker-toggle>
                <mat-datepicker #transferPicker></mat-datepicker>
                          
                <!-- Kiểm tra tính hợp lệ -->
                <div *ngIf="transferDate.invalid && (transferDate.touched || transferDate.dirty)" class="error">
                  <small *ngIf="transferDate.errors?.['required']">Ngày thực hiện là bắt buộc.</small>
                  <small *ngIf="transferDate.errors?.['matDatepickerParse']">Ngày không đúng định dạng.</small>
                </div>
              </div>
            <div *ngIf="currentGoodTransfer.listGoodTransferDetailsModel && currentGoodTransfer.listGoodTransferDetailsModel.length > 0" class="form-button">
              <button type="submit">{{isUpdate ? 'Cập nhật' : "Thêm mới"}}</button>
            </div>
        </form>

        <div class="export-list">
            <h4>Danh sách sản phẩm chuyển kho</h4>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of currentGoodTransfer.listGoodTransferDetailsModel">
                        <tr>
                            <td><mat-icon><div (click)="removeItem(item)" class="button-remove">remove_from_queue</div></mat-icon></td>
                            <td>{{item.product?.id}}</td>
                            <td>{{item.product?.name}}</td>
                            <td><input min="1" type="number" [(ngModel)]="item.quantity" (input)="changeQuantity($event)"></td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Tổng cộng:</td>
                        <td >{{totalItem}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="product-container">
        <div class="product-table">
            <div class="product-table-title">All</div>
            <ng-container *ngFor="let product of allProduct">
                <div class="product-cell" (click)="addProduct(product)">{{product.name}}</div>
            </ng-container>
        </div>
    </div>
</div>
