<div class="header-container">
  <h1>Lịch sử hóa đơn</h1>
  <!-- <button class="add-new-button" (click)="addNew()">Thêm mới</button> -->
</div>
<div class="list-and-filter-container">

  <div class="col-md-2 filter-container-bill-list">
    <div class="dropdown-container-bill-list">
      <div class="dropdown-header-bill-list" (click)="toggleDropdownWareHouse()">
        Bán từ kho
        <span id="dropdownArrow" [class.open]="isDropDownOpenWareHouse"
          class="dropdown-arrow-bill-list">&#9662;</span>
      </div>
      <div *ngIf="isDropDownOpenWareHouse" class="dropdown-content-bill-list">
        <div class="dropdown-item-bill-list" *ngFor="let wareHouse of allWareHouse">
          <input type="checkbox" [id]="wareHouse.id"
            (change)="onCheckboxChangeWareHouse(wareHouse.id, $event)">
          <label [for]="wareHouse.id">{{ wareHouse.address }}</label>
        </div>
      </div>
    </div>

    <mat-form-field appearance="fill" class="range-date-picker-bill-list">
      <mat-label>Ngày tạo hóa đơn</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Ngày bắt đầu" (dateChange)="onDateRangeChange($event)">
        <input matEndDate placeholder="Ngày kết thúc" (dateChange)="onDateRangeChange($event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  
  


  <div class="col-md-10 table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="table-header-price"> Id </div>
        </th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="cusomter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="table-header-price"> Tên khách hàng </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.customer?.name ? element.customer?.name : 'Khách lẻ'}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="table-header-price"> Ngày tạo hóa đơn </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="wareHouse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="table-header-price"> Bán từ kho </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.wareHouse?.address }} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="table-header-price"> Tên nhân viên bán </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.user?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="table-header-price"> Tổng hóa đơn </div>
        </th>
        <td mat-cell *matCellDef="let element">{{element.totalAmount | currency:'VND':'symbol':'1.0-0'}}</td>
      </ng-container>
      <!-- Cột context menu -->
      <ng-container matColumnDef="context">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewDetail(element)">
              <mat-icon>edit</mat-icon>
              <span>Chi tiết</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <!-- Header row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Data rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator hidePageSize="true" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>
</div>