<mat-tab-group>
    <mat-tab label="Thống kê số lượng sản phẩm">
        <div class="analyse-container">
            <app-analyse-receipt-good></app-analyse-receipt-good>
            <app-analyse-export-good></app-analyse-export-good>
        </div>
    </mat-tab>
    <mat-tab label="Thống kê doanh thu các kho">
        <app-analyse-bill-by-month></app-analyse-bill-by-month>
    </mat-tab>
    <mat-tab label="Thống kê lịch sử giá sản phẩm">
        <app-analyse-price-product></app-analyse-price-product>
    </mat-tab>
    <mat-tab label="Thống kê top sản phẩm bán chạy">
        <app-analyse-top-product-sale></app-analyse-top-product-sale>
    </mat-tab>
</mat-tab-group>