<div class="header-container">
    <h1>Danh sách nhân viên</h1>
    <button class="add-new-button" (click)="addNew()">Thêm mới</button>
  </div>
  <div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="table-header-price"> Id </div></th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="table-header-price"> Tên đăng nhập </div></th>
      <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="table-header-price"> Tên </div></th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="table-header-price"> Địa chỉ nhà </div></th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>
    
    <ng-container matColumnDef="dateOnboard">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="table-header-price"> Ngày vào làm </div></th>
      <td mat-cell *matCellDef="let element">{{element.dateOnboard | date: 'dd/MM/yyyy' }}</td>
    </ng-container>
    
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="table-header-price"> Ngày sinh </div></th>
      <td mat-cell *matCellDef="let element">{{element.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="currentWarehouse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="table-header-price"> Kho đang làm việc </div></th>
        <td mat-cell *matCellDef="let element">{{getListWareHouseName(element)}}</td>
      </ng-container>
    
    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="table-header-price"> isAdmin </div></th>
      <td mat-cell *matCellDef="let element">{{element.isAdmin}}</td>
    </ng-container>
  
    <!-- Cột context menu -->
    <ng-container matColumnDef="context">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(element)">
            <mat-icon>edit</mat-icon>
            <span>Chỉnh sửa</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
  
    <!-- Header row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <!-- Paginator -->
  <mat-paginator hidePageSize="true" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>