/* Đặt toàn bộ nội dung vào giữa màn hình */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #f4f7f6;
    /* Màu nền nhẹ */
}

/* Cải thiện kiểu bảng */
.product-table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-table th,
.product-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.product-table th {
    background-color: #007bff;
    color: white;
}

.product-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tr:hover {
    background-color: #e0e0e0;
    // cursor: pointer;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.max-value-top-sale{
    width: 25%;
    margin-bottom: 18px;
}