<div class="container-good-transfer">
    <div class="header-good-transfer">
        <h1 class="title-good-transfer">Phiếu Chuyển Kho</h1>

        <div class="button-group-good-transfer">
            <button class="btn-good-transfer edit-good-transfer">✏️ Điều chỉnh</button>
            <button class="btn-good-transfer add-good-transfer" (click)="addNew()">➕ Thêm mới</button>
            <!-- <button class="btn-good-transfer import-good-transfer">⬇️ Nhập File</button>
            <button class="btn-good-transfer export-good-transfer">⬇️ Xuất File</button> -->
        </div>
    </div>
    <div class="list-and-filter-container">
        <div class="col-md-2 filter-container-good-transfer">
            <div class="dropdown-container-good-transfer">
                <div class="dropdown-header-good-transfer" (click)="toggleDropdownFromWareHouse()">
                    Xuất từ kho
                    <span id="dropdownArrowGoodTransfer" [class.open]="isDropdownOpenFromWareHouse"
                        class="dropdown-arrow-good-transfer">&#9662;</span>
                </div>
                <div *ngIf="isDropdownOpenFromWareHouse" class="dropdown-content-good-transfer">
                    <div class="dropdown-item-good-transfer" *ngFor="let wareHouse of allWareHouse">
                        <input type="checkbox" [id]="'from_' + wareHouse.id"
                            (change)="onCheckboxChangeFromWareHouse(wareHouse.id, $event)">
                        <label [for]="'from_' + wareHouse.id">{{ wareHouse.address }}</label>
                    </div>
                </div>
            </div>

            <div class="dropdown-container-good-transfer">
                <div class="dropdown-header-good-transfer" (click)="toggleDropdownToWareHouse()">
                    Xuất đến kho
                    <span id="dropdownArrowGoodTransfer" [class.open]="isDropdownOpenToWareHouse"
                        class="dropdown-arrow-good-transfer">&#9662;</span>
                </div>
                <div *ngIf="isDropdownOpenToWareHouse" class="dropdown-content-good-transfer">
                    <div class="dropdown-item-good-transfer" *ngFor="let wareHouse of allWareHouse">
                        <input type="checkbox" [id]="'to_' + wareHouse.id"
                            (change)="onCheckboxChangeToWareHouse(wareHouse.id, $event)">
                        <label [for]="'to_' + wareHouse.id">{{ wareHouse.address }}</label>
                    </div>
                </div>
            </div>

            <div class="dropdown-container-good-transfer">
                <div class="dropdown-header-good-transfer" (click)="toggleDropdownStatus()">
                    Trạng thái
                    <span id="dropdownArrowGoodTransfer" [class.open]="isDropdownOpenStatus"
                        class="dropdown-arrow-good-transfer">&#9662;</span>
                </div>
                <div *ngIf="isDropdownOpenStatus" class="dropdown-content-good-transfer">
                    <div class="dropdown-item-good-transfer" *ngFor="let status of statusArray">
                        <input type="checkbox" [id]="status.id" (change)="onCheckboxChangeStatus(status.id, $event)">
                        <label [for]="status.id">{{ status.name }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <table class="table-good-transfer">
                <thead class="thead-good-transfer">
                    <tr class="row-header-good-transfer">
                        <th (click)="sortTable('id')">Mã phiếu</th>
                        <th (click)="sortTable('transferDate')">Thời gian</th>
                        <th (click)="sortTable('fromWareHouse.address')">Xuất từ kho</th>
                        <th (click)="sortTable('toWareHouse.address')">Xuất đến kho</th>
                        <th (click)="sortTable('user.name')">Nhân viên</th>
                        <th (click)="sortTable('status')">Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbody-good-transfer">
                    <ng-container
                        *ngFor="let goodTransfer of allGoodTransfer  | paginate: { itemsPerPage: 9, currentPage: currentPage }">
                        <tr class="row-good-transfer" (click)="selectRow($event, goodTransfer)">
                            <td>{{goodTransfer.id}}</td>
                            <td>
                                <div>{{goodTransfer.transferDate | date: 'dd/MM/yyyy' }}</div>
                            </td>
                            <td>{{goodTransfer.fromWareHouse?.address}}</td>
                            <td>{{goodTransfer.toWareHouse?.address}}</td>
                            <td>{{goodTransfer.user?.name}}</td>
                            <td>
                                <span *ngIf="goodTransfer.status === 1"
                                    class="status-good-transfer complete-good-transfer">Hoàn thành</span>
                                <span *ngIf="goodTransfer.status === 2"
                                    class="status-good-transfer process-good-transfer">Đang xử lý</span>
                                <span *ngIf="goodTransfer.status === 0"
                                    class="status-good-transfer error-good-transfer">Đã
                                    hủy</span>
                            </td>
                            <td>
                                <div *ngIf="selectedGoodTransferId === goodTransfer.id"
                                    class="button-container-context">
                                    <button (click)="viewDetail(goodTransfer)"
                                        class="btn-detail-good-transfer btn-green">Chi tiết</button>
                                    <button *ngIf="goodTransfer.status === 2" (click)="edit(goodTransfer)"
                                        class="btn-detail-good-transfer btn-red">Chỉnh sửa</button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>


                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination-good-transfer">
        <pagination-controls (pageChange)="currentPage = $event" class="float-right" previousLabel="Trước" nextLabel="Sau"></pagination-controls>
        <!-- <button class="btn-prev-good-transfer">&lt;</button>
        <span>1</span>
        <button class="btn-next-good-transfer">&gt;</button> -->
    </div>
</div>