<div class="container-good-transfer">
    <div class="header-good-transfer">
        <h1 class="title-good-transfer">Phiếu Chuyển Kho</h1>

        <div class="button-group-good-transfer">
            <!-- <button class="btn-good-transfer edit-good-transfer">✏️ Điều chỉnh</button> -->
            <button class="btn-good-transfer add-good-transfer" (click)="addNew()">➕ Thêm mới</button>
            <!-- <button class="btn-good-transfer import-good-transfer">⬇️ Nhập File</button>
            <button class="btn-good-transfer export-good-transfer">⬇️ Xuất File</button> -->
        </div>
    </div>
    <div class="list-and-filter-container">
        <div class="col-md-2 filter-container-good-transfer">
            <div class="dropdown-container-good-transfer">
                <div class="dropdown-header-good-transfer" (click)="toggleDropdownFromWareHouse()">
                    Xuất từ kho
                    <span id="dropdownArrowGoodTransfer" [class.open]="isDropdownOpenFromWareHouse"
                        class="dropdown-arrow-good-transfer">&#9662;</span>
                </div>
                <div *ngIf="isDropdownOpenFromWareHouse" class="dropdown-content-good-transfer">
                    <div class="dropdown-item-good-transfer" *ngFor="let wareHouse of allWareHouse">
                        <input type="checkbox" [id]="'from_' + wareHouse.id"
                            (change)="onCheckboxChangeFromWareHouse(wareHouse.id, $event)">
                        <label [for]="'from_' + wareHouse.id">{{ wareHouse.address }}</label>
                    </div>
                </div>
            </div>

            <div class="dropdown-container-good-transfer">
                <div class="dropdown-header-good-transfer" (click)="toggleDropdownToWareHouse()">
                    Xuất đến kho
                    <span id="dropdownArrowGoodTransfer" [class.open]="isDropdownOpenToWareHouse"
                        class="dropdown-arrow-good-transfer">&#9662;</span>
                </div>
                <div *ngIf="isDropdownOpenToWareHouse" class="dropdown-content-good-transfer">
                    <div class="dropdown-item-good-transfer" *ngFor="let wareHouse of allWareHouse">
                        <input type="checkbox" [id]="'to_' + wareHouse.id"
                            (change)="onCheckboxChangeToWareHouse(wareHouse.id, $event)">
                        <label [for]="'to_' + wareHouse.id">{{ wareHouse.address }}</label>
                    </div>
                </div>
            </div>

            <div class="dropdown-container-good-transfer">
                <div class="dropdown-header-good-transfer" (click)="toggleDropdownStatus()">
                    Trạng thái
                    <span id="dropdownArrowGoodTransfer" [class.open]="isDropdownOpenStatus"
                        class="dropdown-arrow-good-transfer">&#9662;</span>
                </div>
                <div *ngIf="isDropdownOpenStatus" class="dropdown-content-good-transfer">
                    <div class="dropdown-item-good-transfer" *ngFor="let status of statusArray">
                        <input type="checkbox" [id]="status.id" (change)="onCheckboxChangeStatus(status.id, $event)">
                        <label [for]="status.id">{{ status.name }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="table-header-price"> Mã phiếu </div>
                  </th>
                  <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>
          
                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="table-header-price"> Thời gian </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.transferDate | date: 'dd/MM/yyyy' }} </td>
                </ng-container>
          
                <ng-container matColumnDef="formWareHouse">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="table-header-price"> Xuất từ kho </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.fromWareHouse?.address}} </td>
                </ng-container>
          
                <ng-container matColumnDef="toWareHouse">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="table-header-price"> Xuất đến kho </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.toWareHouse?.address }} </td>
                </ng-container>
          
                <ng-container matColumnDef="user">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="table-header-price"> Nhân viên </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.user?.name}} </td>
                </ng-container>
          
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-no-boder">
                    <div class="table-header-price"> Trạng thái </div>
                  </th>
                  
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.status === 1"
                        class="status-good-transfer complete-good-transfer">Hoàn thành</span>
                    <span *ngIf="element.status === 2"
                        class="status-good-transfer process-good-transfer">Đang xử lý</span>
                    <span *ngIf="element.status === 0"
                        class="status-good-transfer error-good-transfer">Đã
                        hủy</span>
                  </td>
                </ng-container>
                <!-- Cột context menu -->
                <ng-container matColumnDef="context">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="viewDetail(element)">
                        <!-- <mat-icon>details</mat-icon> -->
                        <i class="material-icons">info_outline</i>
                        <span>Chi tiết</span>
                      </button>
                      <button *ngIf="element.status === 2"  mat-menu-item (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Chỉnh sửa</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
          
                <!-- Header row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- Data rows -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          
              <!-- Paginator -->
              <mat-paginator hidePageSize="true" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>


            <!-- <table class="table-good-transfer">
                <thead class="thead-good-transfer">
                    <tr class="row-header-good-transfer">
                        <th (click)="sortTable('id')">Mã phiếu</th>
                        <th (click)="sortTable('transferDate')">Thời gian</th>
                        <th (click)="sortTable('fromWareHouse.address')">Xuất từ kho</th>
                        <th (click)="sortTable('toWareHouse.address')">Xuất đến kho</th>
                        <th (click)="sortTable('user.name')">Nhân viên</th>
                        <th (click)="sortTable('status')">Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbody-good-transfer">
                    <ng-container
                        *ngFor="let goodTransfer of allGoodTransfer  | paginate: { itemsPerPage: 9, currentPage: currentPage }">
                        <tr class="row-good-transfer" (click)="selectRow($event, goodTransfer)">
                            <td>{{goodTransfer.id}}</td>
                            <td>
                                <div>{{goodTransfer.transferDate | date: 'dd/MM/yyyy' }}</div>
                            </td>
                            <td>{{goodTransfer.fromWareHouse?.address}}</td>
                            <td>{{goodTransfer.toWareHouse?.address}}</td>
                            <td>{{goodTransfer.user?.name}}</td>
                            <td>
                                <span *ngIf="goodTransfer.status === 1"
                                    class="status-good-transfer complete-good-transfer">Hoàn thành</span>
                                <span *ngIf="goodTransfer.status === 2"
                                    class="status-good-transfer process-good-transfer">Đang xử lý</span>
                                <span *ngIf="goodTransfer.status === 0"
                                    class="status-good-transfer error-good-transfer">Đã
                                    hủy</span>
                            </td>
                            <td>
                                <div *ngIf="selectedGoodTransferId === goodTransfer.id"
                                    class="button-container-context">
                                    <button (click)="viewDetail(goodTransfer)"
                                        class="btn-detail-good-transfer btn-green">Chi tiết</button>
                                    <button *ngIf="goodTransfer.status === 2" (click)="edit(goodTransfer)"
                                        class="btn-detail-good-transfer btn-red">Chỉnh sửa</button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>


                </tbody>
            </table> -->
        </div>
    </div>
    <div class="pagination-good-transfer">
        <pagination-controls (pageChange)="currentPage = $event" class="float-right" previousLabel="Trước" nextLabel="Sau"></pagination-controls>
        <!-- <button class="btn-prev-good-transfer">&lt;</button>
        <span>1</span>
        <button class="btn-next-good-transfer">&gt;</button> -->
    </div>
</div>