<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS System</title>
</head>
<body>
    <header class="header">
        
        <div class="col-md-6 invoice-tabs">
            <!-- <button class="tab active">Hóa đơn 1</button> -->
        </div>
        <div class="col-md-2 user-profile">
            <ng-select 
                [items]="allWarehouse" 
                bindLabel="address" 
                [(ngModel)]="currentWarehouse" 
                name="warehouseName" 
                [clearable]="false"
                (ngModelChange)="currentWarehouseChange()"
                #warehouseName="ngModel">
            </ng-select>
        </div>
        <div class="col-md-2 user-profile">
            <ng-select 
                [items]="allCustomer" 
                bindLabel="name" 
                [(ngModel)]="currentCustomer" 
                name="customerName" 
                placeholder="Tìm khách hàng"
                #customerName="ngModel">
            </ng-select>
        </div>
        <div class="col-md-2 search-bar-retail">
            <input type="text" placeholder="Tìm sản phẩm" (input)="onSearchProductChange($event)">
        </div>
    </header>
    
    <main class="main-content">
        <section class="invoice-section">
            <ng-container *ngFor="let item of currentBill.listBillDetails">
                <div class="invoice-item">
                    <span>{{item?.product?.id}}</span>
                    <span>{{item?.product?.name}}</span>
                    <div class="quantity-control">
                        <button (click)="changeQuantity(item, false)">-</button>
                        <input type="number" [(ngModel)]="item.quantity" (input)="getTotalAmount()">
                        <button (click)="changeQuantity(item, true)">+</button>
                    </div>
                    <div class="price-container">
                        <span>{{item.priceUnit | currency:'VND':'symbol':'1.0-0' }}</span>
                        <!-- <input *ngIf="!item.haveDefaultPrice" type="text"  mask="separator.0" thousandSeparator=","  placeholder="Nhập giá" [(ngModel)]="item.priceUnit" (input)="onPriceChange(item)"> -->
                    </div>
                    <button class="delete-item" (click)="removeItem(item)">Xóa</button>
                </div>
            </ng-container>
        </section>
        
        <section class="product-list-retail">
            <ng-container *ngFor="let item of allProduct | paginate: { itemsPerPage: 9, currentPage: currentPage }">
                <div class="product-item">
                    <img src="{{item.imgPath ? item.imgPath : 'https://localhost:7030/images/default/default_image.png'}}" alt="{{item.name}}" width="70" height="70">
                    <span class="product-name">{{item.name}}</span>
                    <span class="product-name">Tồn kho: {{item.inventory}}</span>
                    <span class="product-price">{{item.currentPrice | currency:'VND':'symbol':'1.0-0' }}</span>
                    <button class="add-to-cart" (click)="addProductToBill(item)">+</button>
                </div>
            </ng-container>
            <pagination-controls (pageChange)="currentPage = $event" class="float-right"></pagination-controls>
        </section>
    </main>

    <footer class="footer">
        <!-- <div class="order-notes">
            <input type="text" placeholder="Ghi chú đơn hàng">
        </div> -->
        <div class="total-summary">
            <span>Tổng tiền hàng: {{totalAmountBill  | currency:'VND':'symbol':'1.0-0' }}</span>
        </div>
        <button class="payment-btn" (click)="openPaymentDialog()">Thanh toán</button>
    </footer>
</body>
</html>